/* ==========================================
/*
/* CSS RESET
/*
/* ========================================== */

body, h1 {
  margin: 0;
  padding: 0;
}

h1 {
	text-transform: uppercase;
}

body {
	color: #333;
}

/* ==========================================
/*
/* COMMON
/*
/* ========================================== */

.fix {
	*zoom: 1;
}

.fix:after {
	display: table;
	clear: both;
	content: '';
}

/* ==========================================
/*
/* HOME
/*
/* ========================================== */

.wrap {
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}

.logo, #gameArea {
	margin-bottom: 40px;
}

/* ==========================================
/*
/* GAMEAREA
/*
/* ========================================== */

#ws-area {
  background: #fafafa;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}