/* ==========================================
/*
/* CSS RESET
/*
/* ========================================== */

body, h1 {
  margin: 0;
  padding: 0;
}

/* ==========================================
/*
/* HOME
/*
/* ========================================== */

.wrap {
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;
}

/* ==========================================
/*
/* GAMEAREA
/*
/* ========================================== */

#gamearea {
  margin: 10px 20px;
  background: #efefef;
  border-radius: 10px;
  position: relative;
}