/* Wordseach */

.ws-area {
  background: #fafafa;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ws-row {
  line-height: 0;
}

.ws-col {
  cursor: pointer;
}

.ws-col.ws-selected {
  background: #eee;
}

.ws-found {
  background: yellow;
}